/*Overlay til brug af at man ikke kan klikke flere gange per sektion*/
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 200;
  visibility: hidden;
}
.overlay.active {
  visibility: visible;
}
